<table>
  <thead>
    <tr>
      <th>N.</th>
      <th>Task</th>
      <th>Description</th>
      <th>Operations</th>
    </tr>
  </thead>

  <tbody>
    {{#each tasks}}
      <tr>
        {{!-- <td>{{@index}}</td> --}}
        <td>{{displayIndex}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>
          <a href='/toggleDone'>Done</a>
          <a href='/edit/{{_id}}'>Edit</a>
          <a href='/del/{{_id}}'>Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>